
*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
.campo{
    margin: 2px;
}

form > fieldset {
    display: flex;
    flex-direction: column;
}